// body border
.body-border {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 5px solid $color-purple;
  border-bottom: 0;
  z-index: 99999;
  pointer-events: none;
}

// header
.header {
  position: fixed;
  z-index: 9999;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $color-white;
  padding: 18px 0;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);

  &-logo {
    display: block;
    background-image: url(../../images/logo.svg);
    width: 235px;
    height: 59px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    transition: all 0.3s;

    &:hover {
      opacity: 0.8;
    }
  }

  &-nav {
    &-item {
      @include text-heading5-bold;
      position: relative;
      color: $color-black;
      margin-left: 50px;
      padding: 11px 0 !important;

      &:hover {
        color: $color-black;
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 3px;
        background-color: $color-purple;
        transition: all 0.3s;
      }

      &:hover::after {
        width: 100%;
      }

      &-purple {
        @include purple-btn;
        @include text-heading5-bold;
        margin-left: 50px;
        padding: 8px 20px !important;
        border-radius: 30px;
      }
    }
  }
}

// candidate
.candidate {
  margin-top: 95px;
  padding: 30px 0;

  &-keyVision {
    position: relative;
  }

  &-titles-1 {
    position: absolute;
    z-index: 9;
    top: 116px;
  }

  &-titles-2 {
    position: relative;
  }

  &-title {
    &-1 {
      padding: 11.5px 0;
    }

    &-2 {
      padding: 9.5px 0;
    }

    &-3 {
      position: absolute;
      top: 491px;
    }

    &-4 {
      position: absolute;
      padding: 13.5px 5px;
      bottom: 17px;
      left: 53px;
    }

    &-5 {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  &-image {
    position: relative;
    z-index: 9;
    margin-left: auto;
    margin-right: 75px;
    margin-bottom: -1px; // svg 邊緣沒切好
  }

  &-claim {
    max-width: 1080px;
    margin-left: auto;
    padding: 40px 50px 50px;
    background-color: $color-light;
    border: 5px solid $color-purple;
    box-shadow: -15px 20px 0px 0px $color-purple;
    border-radius: 80px 0 80px 0;

    h2 {
      @include text-heading1-bold;
      text-align: center;
      margin-bottom: 33px;
    }

    p {
      @include text-heading4-bold;
    }
  }
}

// activity
.activity {
  padding: 25px 0 45px;

  &-title {
    margin: 0 auto;
  }

  &-list {
    display: flex;
    padding-top: 30px;

    &-card {
      border-radius: 8px;
      box-shadow: 0 0 0 3px transparent;
      transition: all 0.3s;

      &:hover {
        cursor: pointer;
        box-shadow: 0 0 0 3px $color-purple;

        img {
          scale: 1.2;
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        scale: 1;
        transition: all 0.5s;
      }

      &-img {
        overflow: hidden;
      }

      &-text {
        padding: 15px;
        background-color: $color-light;

        h3 {
          @include text-heading4-bold;
          margin-bottom: 10px;
          transition: all 0.3s;
        }

        p {
          @include text-bodyMedium-regular;
        }
      }
    }

    &-cardB {
      height: 100%;
      position: relative;
      margin-right: 3px;

      .activity-list-card-img {
        width: 100%;
        height: 325px;
        border-radius: 8px 8px 0 0;
      }

      time {
        display: block;
        position: absolute;
        z-index: 9;
        width: 75px;
        height: 75px;
        top: 0;
        right: 0;
        @include text-heading6-bold;
        text-align: center;
        color: $color-light;
        background-color: $color-green;
        padding: 5px 10px;
        border-radius: 0 8px 0 0;

        span {
          @include text-heading2-bold;
          line-height: 36px;
        }
      }

      &-text {
        height: calc(100% - 325px);
        border-radius: 0 0 8px 8px;
      }
    }

    &-cardS {
      display: flex;

      &-1 {
        margin-bottom: 30px;
      }

      .activity-list-card-img {
        min-width: 276px;
        height: 232px;
        border-radius: 8px 0 0 8px;
      }

      time {
        @include green-tag;
        margin-bottom: 10px;
      }

      &-text {
        border-radius: 0 8px 8px 0;
      }
    }
  }

  &_insideList {
    padding-left: 15px;
  }
}

// policy
.policy {
  padding: 30px 0 50px;
  background-color: $color-purple;

  &-title {
    margin: 0 auto;
  }

  &-list {
    padding-top: 30px;

    &-card {
      height: 379px;
      padding: 15px;
      background-color: $color-light;
      border-radius: 8px;
      transition: all 0.3s;
      overflow: hidden;

      &:hover {
        cursor: pointer;
        box-shadow: 0 0 0 3px $color-green;

        .policy-list-card-tag {
          opacity: 0;
        }

        .policy-list-card-text {
          transform: translateY(-44px);
        }

        .policy-list-card-text-ellipsis {
          display: none;
        }

        .policy-list-card-text-hidden {
          opacity: 1;
        }
      }

      h3 {
        @include text-heading4-bold;
        padding: 10px 0;
      }

      p {
        @include text-bodyMedium-regular;
      }

      ol {
        padding-left: 24px;
        list-style-type: decimal;
      }

      &-2 {
        margin-top: 30px;
      }

      &-tag {
        @include green-tag;
        transition: all 0.5s;
      }

      &-text {
        transition: all 0.5s;

        &-hidden {
          transition: all 0.5s;
          opacity: 0;
        }

        &-ellipsis {
          display: inline-block;
          position: absolute;
        }
      }
    }
  }
}

// donation
.donation {
  padding: 45px 0;
  background-image: url(../../images/bg-donation.png);
  background-size: cover;
  background-position: center;

  &-card {
    display: inline-block;
    width: 679px;
    padding: 30px;
    border-radius: 80px;
    background-color: $color-light;
    text-align: center;

    &-title {
      margin: 0 auto;
      padding: 7px 0;
    }

    &-text {
      @include text-heading4-bold;
      padding: 20px 0;
    }

    &-total {
      margin: 0 auto;
      padding: 11px 0;

      &Num {
        font-size: 60px;
        line-height: 1.2;
        font-weight: 900;
        color: $color-purple;
      }
    }

    &-goToDanate {
      @include purple-btn;
      display: flex;
      align-items: center;
      gap: 10px;
      margin: 20px auto 0;

      img {
        display: inline-block;
      }
    }
  }
}