// font-style
@mixin text-heading1-bold {
  font-size: $fs-heading-1;
  font-weight: bold;
}

@mixin text-heading2-bold {
  font-size: $fs-heading-2;
  font-weight: bold;
}

@mixin text-heading3-bold {
  font-size: $fs-heading-3;
  font-weight: bold;
}

@mixin text-heading4-bold {
  font-size: $fs-heading-4;
  font-weight: bold;
}

@mixin text-heading5-bold {
  font-size: $fs-heading-5;
  font-weight: bold;
}

@mixin text-heading6-bold {
  font-size: $fs-heading-6;
  font-weight: bold;
}

@mixin text-bodyLarge-regular {
  font-size: $fs-body-lg;
  font-weight: 500;
}

@mixin text-bodyMedium-regular {
  font-size: $fs-body-md;
  font-weight: 500;

}

@mixin text-bodyNormal-regular {
  font-size: $fs-body-nm;
  font-weight: 500;

}

@mixin text-bodySmail-regular {
  font-size: $fs-body-sm;
  font-weight: 500;

}

// component
@mixin green-tag {
  display: inline-block;
  padding: 5px 10px;
  color: $color-light;
  background-color: $color-green;
  border-radius: 8px 0 8px 0;
}

@mixin purple-btn{
  @include text-heading3-bold;
  display: inline-block;
  padding: 20px 30px;
  color: $color-light;
  background-color: $color-purple;
  border: 3px solid $color-purple;
  border-radius: 100px;
  transition: all 0.3s;

  &:hover{
    color: $color-purple;
    background-color:$color-light;

    svg{
      fill: $color-purple !important;
    }
  }
}