// font-size
$fs-heading-1: 44px;
$fs-heading-2: 36px;
$fs-heading-3: 28px;
$fs-heading-4: 24px;
$fs-heading-5: 20px;
$fs-heading-6: 16px;
$fs-body-lg: 18px;
$fs-body-md: 16px;
$fs-body-nm: 15px;
$fs-body-sm: 13px;

// color
$color-white: #fff;
$color-light: #FAFAFA;
$color-gray: #E3E3E3;
$color-black: #000;
$color-purple: #4527A0;
$color-green: #26A69A;
$color-yellow: #FFB300;
$color-pink: #EC407A;